.navbar-button {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  border: 1px solid #1890ff;
  border-radius: 30;
  padding: 10;
}

.container {
  display: flex;
  flex-direction: column;
}

.category {
  &-container {
    display: flex;
    margin-top: 30px;
    gap: 20px
  }
}
